services:
  aqa-client:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_API_URL_V2=/api
    image: hoanghy/aqa-client
    env_file:
      - .env
    environment:
      - BACKEND_URL=http://host.docker.internal:8000/graphql
    container_name: aqa-client
    ports:
      - "0.0.0.0:3000:3000"
    restart: unless-stopped
    # For Linux hosts, add this to enable host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
